<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vellsPos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vellsPos.Properties.Settings>
            <setting name="IsDBCredentialsDefault" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DBServerString" serializeAs="String">
                <value>Server=localhost;port=3306;</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>vellspos</value>
            </setting>
            <setting name="DBserver" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DBuser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DBpassword" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DBport" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="SMTPemail" serializeAs="String">
                <value>smsivanujan@gmail.com</value>
            </setting>
            <setting name="SMTPpassword" serializeAs="String">
                <value>hgzidhsvdkuhoehs</value>
            </setting>
        </vellsPos.Properties.Settings>
    </userSettings>
</configuration>